@keyframes wave-animation {
    0% {
        background-position: 0 bottom;
    }
    100% {
        background-position: 200px bottom;
    }
}

@keyframes loading-animation {
    0% {
        background-size: 200px 0px;
    }
    100% {
        background-size: 200px 200px;
    }
}