@keyframes wave-animation {
    0% {
        background-position: 0 bottom;
    }
    100% {
        background-position: $title-width bottom;
    }
}

@keyframes loading-animation {
    0% {
        background-size: $title-width 0 !important;
    }
    100% {
        background-size: $title-width $title-size !important;
    }
}