@import "variables";
@import "assets/animations";
@import "assets/text";

//NOTE Just for testing
//TODO Remove
.et {
}

.with-gradient {
    @include clip-text;
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-text-fill-color: transparent;
}

.title {
    font-weight: bold;
    font-size: $title-size;
    text-align: center;
    display: block;

    &.loading {
        animation: loading-animation 10s infinite linear alternate;
    }

    &.wave {
        background: radial-gradient(circle, $primary 0%, $secondary 50%, $bright 100%);
        @include clip-text;
        color: transparent;
        text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
        animation: wave-animation 1s infinite linear;
        background-size: $title-width $title-size;
        background-repeat: repeat-x;
        opacity: 1;
    }
}
